$color-black: #000;
$color-grey: #ccc;
$color-white: #fff;

.modal {
  background-color: $color-white;
  border: 1px solid $color-grey;
  box-shadow: 1px 1px 1px $color-black;
  box-sizing: border-box;
  left: 15%;
  padding: 16px;
  position: fixed;
  top: 30%;
  transition: 0.3s ease-out;
  width: 70%;
  z-index: 500;

  @media (min-width: 600px) {
    left: calc(50% - 250px);
    width: 500px;
  }
}

.modalOpen {
  animation: openModal 0.4s ease-out forwards;
}

.modalClosed {
  animation: closeModal 1s ease-out forwards;
}

@keyframes openModal {
  0% {
    opacity: 0;
    transform: translateY(-100%);
  }
  50% {
    opacity: 1;
    transform: translateY(90%);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes closeModal {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  50% {
    opacity: 0.8;
    transform: translateY(60%);
  }
  100% {
    opacity: 0;
    transform: translateY(-100%);
  }
}
