$color-white: #fff;
$color-brown: #800000;

.loader {
  border-radius: 50%;
  box-shadow: inset 0 0 0 1em;
  color: $color-brown;
  font-size: 11px;
  height: 10em;
  margin: 55px auto;
  position: relative;
  text-indent: -99999em;
  transform: translateZ(0);
  width: 10em;

  &::before {
    animation: load2 2s infinite ease 1.5s;
    background: $color-white;
    border-radius: 10.2em 0 0 10.2em;
    content: '';
    height: 10.2em;
    left: -.1em;
    position: absolute;
    top: -.1em;
    transform-origin: 5.2em 5.1em;
    width: 5.2em;
  }

  &::after {
    animation: load2 2s infinite ease;
    background: $color-white;
    border-radius: 0 10.2em 10.2em 0;
    content: '';
    height: 10.2em;
    left: 5.1em;
    position: absolute;
    top: -.1em;
    transform-origin: 0 5.1em;
    width: 5.2em;
  }
}

@keyframes load2 {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
