$color-white: #fff;
$color-brown: #8f5c2c;
$color-light-blue: #40a4c8;

.navigationItem {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  height: 100%;
  margin: 0;

  a {
    border-bottom: 4px solid transparent;
    box-sizing: border-box;
    color: $color-white;
    height: 100%;
    padding: 16px 10px;
    text-decoration: none;

    &:hover {
      background-color: $color-brown;
      border-bottom: 4px solid $color-light-blue;
      color: $color-white;
    }

    &:active {
      background-color: $color-brown;
      border-bottom: 4px solid $color-light-blue;
      color: $color-white;
    }

    .active {
      background-color: $color-brown;
      border-bottom: 4px solid $color-light-blue;
      color: $color-white;
    }
  }
}
