$color-white: #fff;
$color-grey: #ccc;
$color-red: #f00;
$color-light-red: #e35f5f;

.input {
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 8px;
  text-transform: capitalize;
}

.inputElement {
  background-color: $color-white;
  border: 1px solid $color-grey;
  box-sizing: border-box;
  display: block;
  font: inherit;
  outline: none;
  padding: 6px 10px;
  width: 100%;

  &:focus {
    background-color: $color-grey;
    outline: none;
  }
}

.invalid {
  background-color: $color-light-red;
  border: 1px solid $color-red;
}

.validationError {
  color: $color-red;
  margin: 5px 0;
}
